* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: Helvetica, sans-serif;
}

/* .debug {
    border: 1px solid red;
} */

/* synth */
#synthArea {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 720px;
    background-color: #4DB33D;
}

/* head */
#headArea {
    display: flex;
    flex-direction: row;
    width: 700px;
}

/* title */
#titleArea {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#titleArea_row0 {
    margin-left: 0px;
}

#titleArea_row1 {
    margin-left: 2px;
}

/* preset */
#presetArea {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 65px;
}

#presetArea_col0 {
    margin-left: 0px;
}

#presetArea_col1 {
    margin-left: 5px;
}

#presetArea_col2 {
    margin-left: 5px;
}

#presetArea_col3 {
    margin-left: 5px;
}

#preset {
    font-size: 11pt;
    text-indent: 6%;
    width: 100px;
    height: 30px;
}

#saveButton {
    font-size: 8pt;
    text-indent: 6%;
    width: 60px;
    height: 30px;
}

#deleteButton {
    font-size: 8pt;
    text-indent: 6%;
    width: 60px;
    height: 30px;
}

/* knob */
#knobArea {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 700px;
    background-color: #3F3E42;
    color: #FFFFFF;
    font-size: 12px;
}

#knobArea_row0 {
    display: flex;
    flex-direction: row;
}

#knobArea_row0_col0 {
    margin-left: 0px;
    width: 75px;
}

#knobArea_row0_col1 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row0_col2 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row0_col3 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row0_col4 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row0_col5 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row0_col6 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row0_col7 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#knobArea_row1_col0 {
    margin-left: 0px;
    width: 75px;
    text-align: center;
}

#knobArea_row1_col1 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row1_col2 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row1_col3 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row1_col4 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row1_col5 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row1_col6 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row1_col7 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#knobArea_row2_col0 {
    margin-left: 0px;
    width: 75px;
}

#knobArea_row2_col1 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row2_col2 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row2_col3 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row2_col4 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row2_col5 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row2_col6 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row2_col7 {
    margin-left: 12px;
    width: 75px;
}

#knobArea_row3 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#knobArea_row3_col0 {
    margin-left: 0px;
    width: 75px;
    text-align: center;
}

#knobArea_row3_col1 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row3_col2 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row3_col3 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row3_col4 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row3_col5 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row3_col6 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

#knobArea_row3_col7 {
    margin-left: 12px;
    width: 75px;
    text-align: center;
}

/* keyboard */
#keyboardArea {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}