* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: Helvetica, sans-serif;
}

#preset {
    font-size: 11pt;
    text-indent: 6%;
    width: 100px;
    height: 30px;
}

#saveButton {
    font-size: 8pt;
    text-indent: 6%;
    width: 60px;
    height: 30px;
}

#deleteButton {
    font-size: 8pt;
    text-indent: 6%;
    width: 60px;
    height: 30px;
}